body {
  background: #f4f4f4;
}

#grpApps {
  width: 50rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.app {
  background: #333;
  width: 34%;
  height: 42%;
}
